body, html {
    /* font-family: Gilroy,sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-weight: 500;
    width: 100%;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.container div{
    align-items: center;
}
.m {
    display:flex;
    align-items: center;
    width: 10px;
}
.m img {
    margin-left:150px;
}
.main-top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4.375rem;
    background-color: #f7fdfa;
    /* border: 1px solid green; */
    height: auto;
}

.top-section {
    
    width: 80%;
    /* border: 1px solid black; */
}

.top-section > div {
    padding : 1.25rem;
}

a:link{
    text-decoration: none;
}

.navigation-section {
    display: flex;
    font-size: 0.7rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home-a a{
    color: #00B37A;
    line-height: 1rem;
    
}
.home-b a {
    color: rgb(172, 165, 165);
}
.fas {
    color: lightgrey;
}

.navigation-section div {
    padding: 0.2rem;
}



.page-heading {
    /* border: 1px solid blue; */
    display: flex;
}
.F-logo {
    /* border: 1px solid red; */
    padding: 1.125rem;
    border-radius: 20%;
    background-color: #e4f9f1;
    
}
.F-logo img {
    width: 2.75rem;
    height: 2.75rem;
}

.F-heading {
    /* border: 1px solid green; */
    line-height: 0.125rem;
    margin: 0 0 0 1.25rem;

    
}

.hh1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
}
.hh2 {
    color: rgb(141, 139, 139);
    font-size: 1.2rem;
}

.fruit-area {
    display: grid;
    grid-template-columns: 45% 45%;
    /* border: 1px solid black; */
    grid-gap: 2%;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    margin-top: 30px;
    padding: 2%;
}
.mainDiv {
    /* border: 1px solid black; */
    display: flex;
    padding: 2%;
    border-radius: 1.25rem;
    background-color: white;
}

.mainDiv:hover {
    /* box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px; */
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.mainDiv img {
    width: 7.8125rem;
    height: 7.8125rem;
    border-radius: 1.25rem;
}
.div1 {
    /* border: 1px solid purple; */
    display: flex;
    float: left;
}
.div2 {
    /* border: 1px solid purple; */
    margin: 0 0 0 10px;
    font-weight: 500;
    font-size: 1.25rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.div3 {
    margin-top: -15px;
    /* border: 1px solid yellow; */
    color: rgb(150, 146, 146);
    line-height: 0.5rem;
    font-size: 0.9rem;
}

@media screen and 
(min-width: 0px) and 
(max-width: 617px) {
    .fruit-area {
        grid-template-columns: 100%;
    }
    .h1{
        font-size: 0.8rem;
    }
}
@media screen and 
(min-width: 0px) and 
(max-width: 371px) {
    .fruit-area {
        grid-template-columns: 100%;
    }
    .h1{
        font-size: 0.5rem;
    }
}

.container {
    display: flex;
    justify-content: space-between;
    
}
.container div {
    /* border: 1px solid red; */
    width: 20%;
    height:50px;
    display: flex;
}