body {
    margin: 0;
    padding: 0;
    font-family: Gilroy, sans-serif;
    background-color: #f7fdfa;
  }
  .navbar {
    height: 80px;
    width: 100%;
    background-color: white;
    
  }
  .nav {
    height: 80px;
    width: 100%;
    margin: auto;
    /* border: 1px solid yellow; */
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #0f1938;
    padding: 0px 18% 0% 12%;
    background-color: white;
  }
  .location {
    margin-left: 3%;
  }
  .location a {
    text-decoration: none;
    font-size: 14px;
    color: #0f1938;
  }
  .partners {
    margin-left: 10%;
    font-size: 14px;
    cursor: pointer;
  }
  .business {
    margin-left: 2%;
    cursor: pointer;
  }
  .search {
    height: 56px;
    width: 60px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid teal; */
    margin-left: 25%;
    align-items: center;
    margin-top: 2%;
    cursor: pointer;
  }
  #profile12{
      display: flex;
      flex-direction: column;
      margin: 15px 0px 0px 3%;
  }
  #profile12 img{
      width: 91%;
  }
  .cart {
    height: 56px;
    width: 60px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid teal; */
    margin-left: 2%;
    align-items: center;
    margin-top: 2%;
    cursor: pointer;
  }
  .signIn {
    height: 32px;
    width: 90px;
    background-color: #00d290;
    color: white;
    border: none;
    margin-left: 2%;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
  }
  .partners:hover {
    color: #00d290;
  }
  .business:hover {
    color: #00d290;
  }
  .search:hover {
    color: #00d290;
  }
  .cart:hover {
    color: #00d290;
  }

  .sub-head {
    height: 46px;
    width: 100%;
    /* border: 1px solid yellow; */
    overflow: hidden;
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #1f3a7d 0%, #0c1630 74%);
  }
  .box {
    height: 44px;
    width: 75%;
    margin: auto;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    font-size: 13px;
  }
  .headline {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: white;
  }
  .headline2 {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-left: 23%;
    color: #00d290;
  }
  .panel {
    height: 44px;
    width: 75%;
    margin: auto;
    font-size: 13px;
    margin-top: 30px;
  }
  .mumbai-head {
    height: 220px;
    width: 75%;
    margin: auto;
    font-size: 18px;
    /* border: 1px solid black; */
  }
  .title {
    margin-top: 0%;
    font-size: 36px;
  }
  .content {
    margin-top: 0%;
  }
  .thumbnails {
    height: 170px;
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .category {
    position: relative;
    height: 170px;
    width: 23%;
  }
  .images {
    border-radius: 10px 10px 10px 10px;
  }
  .btn {
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: red;
    color: white;
    font-size: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 0px 6px 0px 6px;
    text-align: center;
    padding: 4px 6px;
  }
  .thumb2 {
    height: 100px;
    width: 75%;
    margin: auto;
    display: flex;
    /* border: 1px solid black; */
    gap: 2%;
  }
  .small-box {
    position: relative;
    height: 100px;
    width: 15%;
    /* border: 1px solid red; */
    flex-direction: column;
    font-size: 12px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
  }
  .cater {
    margin-top: 8%;
    margin-left: 5%;
  }
  .top-picks {
    height: 450px;
    width: 99.8%;
    /* border: 1px solid black; */
    margin-top: 7%;
    background-color: white;
  }
  .picks {
    height: 450px;
    width: 75%;
    /* border: 1px solid yellow; */
    margin: auto;
    background-color: white;
  }
  .thumbnails1 {
    display: flex;
    gap: 2%;
  }
  .category1 {
    position: relative;
    height: 170px;
    width: 23%;
  }
  .box1 {
    height: 8px;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .box2 {
    height: 6px;
    width: 100%;
    background-color: #00d290;
    border-radius: 5px 5px 5px 5px;
  }
  .mobile {
    height: 70px;
    width: 99.8%;
    background-color: white;
  }
  .download {
    height: 70px;
    width: 60%;
    margin: auto;
    background-color: white;
  }
  .mobile-pic {
    height: 240px;
    width: 180px;
    margin-left: 14%;
  }
  .dunzo-app {
    font-size: 20px;
    margin-left: 46%;
    font-weight: bold;
    color: #848894;
  }
  .google-store {
    margin-left: 46%;
  }
  .google-store1 {
    margin-left: 46%;
  }
  .footer-panel {
    height: 820px;
    width: 99.8%;
    background-color: #f0f2f7;
  }
  .foot {
    height: 820px;
    width: 75%;
    margin: auto;
  }
  .footer-heading {
    height: 99px;
    width: 100%;
    font-size: 28px;
  }
  .places {
    height: 664px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .places1 {
    height: 664px;
    width: 23%;
  }
  .text p {
    font-size: 17px;
    color: #6f7993;
  }
  .final-footer {
    height: 630px;
    width: 99.8%;
    background-color: #171e30;
  }
  .sub-footer {
    height: 630px;
    width: 75%;
    margin: auto;
    background-color: #171e30;
  }
  .footer-head {
    width: 100%;
    height: 200px;
    border-bottom: 1px solid #5d626f;
    background-color: #171e30;
  }
  .footer-down {
    width: 100%;
    height: 428px;
    display: flex;
    background-color: #171e30;
    padding: 0px 170px;
  }
  .box-a {
    height: 100px;
    width: 100px;
    margin-top: 7%;
  }
  .box-b {
    height: 428px;
    width: 45%;
    display: flex;
    justify-content: space-around;
  }
  .box-c {
    height: 250px;
    width: 23%;
    margin-top: 7%;
    margin-left: 10px;
    box-sizing: border-box;
  }
  .box-c>img{
      height: 200px;
      width: 90%;
  }
  .ft1 {
    height: 424px;
    width: 30%;
  }
  .text1 {
    font-size: 14px;
    color: white;
    margin-top: 65px;
    line-height: 25px;
  }
  